<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(".hidden").hide();
  $("#hidden").hide();

  function unhide_block(){
    $(".hidden").show();
  }

 $("#hide").on("mouseup", function(){
  $(".hidden").hide();;
});
</script>

</body>

<footer>
  Made with 🧡 by Anash Shelat
</footer>

</html>